* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("Images/BgImage.png");
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

p, h1, h2, h3 {
    text-align: center;
    margin: .5em;
}

li {
    list-style-type: none
}

iframe {
    margin:2em;
    width: 40em;
    height: 40em;
    transition: transform .2s;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    border-width: .5em;
}

iframe:hover {
    transform: scale(1.05);
}

video, img {
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    border-width: .5em;

    margin: 2em;
    transition: transform .2s;
    width: 40em; 
    max-width: 80%;
    height: auto; 
}

video:hover, img:hover {
    transform: scale(1.05);
}

video {
   
    width: 40em; 
    max-width: 80%;
    height: auto; 
}


.menu {
    text-align: center;
    background-color: #223;
    border-radius: 1em;
    position: relative;
    font-size: 20px;
    padding: 0 1em;
    margin: .5em 1em;
}

.menu:hover {
    background-color: #334;
}


.menu a {
    text-align: center;
    color: white;
    padding: .5em 0;
    display: block;
}

.associative, 
.hobbies, 
.projects, 
.studies, 
.work,
.home {
    background-color: #223D;
    transition: background-color 0.3s;
    color:white;
    border-radius: 1em;
    margin:.5%;
    margin-bottom: 1%;
    padding: 1%;
    text-align: center;
}

.associative:hover, 
.hobbies:hover, 
.projects:hover, 
.studies:hover, 
.work:hover,
.home:hover {
    background-color: #223;
    transition: background-color 0.3s;
}

.associative a, 
.hobbies a, 
.projects a, 
.studies a, 
.work a,
.home a
{
    color: #BBB;
    font-weight: bold;
}

.associative a:hover, 
.hobbies a:hover, 
.projects a:hover, 
.studies a:hover, 
.work a:hover, 
.home a:hover {
    color: #FFF;
    font-weight: bold;
}

header .container {
    border-radius: 1em;
    background-color: #445;
    padding: .1em;
    margin: .25em;
}

header nav {
    background-color: #223;
    padding: 10px;
} 

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.menu-toggle {
    background-color: #223;
    color: white;

    border-style: solid;
    border-color: #000;

    padding: 10px 10em; 
    margin: .5em 1em; 

    font-size: 20px;
    border-radius: 1em;
    cursor: pointer;
}

.menu-toggle:hover {
    background-color: #334;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



@media (min-width: 1280px) { /*PC*/
    .hobbies,
    .studies {
        flex: 0 0 32.333%;  
    }

    .projects,
    .associative {
        flex: 0 0 49%; 
    }

    .work, 
    .home {
        flex: 0 0 99%; 
    }

    .menu
    {
        flex: 0 0 5%;
    }

    .menu-toggle {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) { /*Tablette*/
    .hobbies {
        flex: 0 0 49%; 
    }

    .studies, 
    .work, 
    .home, 
    .projects,
    .associative {
        flex: 0 0 99%; 
    }

    .menu
    {
        flex: 0 0 20%;
    }

    .menu-toggle {
        display: none;
    }
}


@media (max-width: 767px) {  /*Téléphone*/


    .menu-toggle {
        display: block;
        flex: 0 0 99%; 
    }

    .menu-container {
        display: none;
        flex-direction: line;
    }

    .menu-container.active {
        display: flex;
    }


    .hobbies, 
    .studies, 
    .work, 
    .associative, 
    .home, 
    .projects,
    .menu 
    {
        flex: 0 0 100%; 
    }


}